<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>

    <h1>{{.Title}}</h1>

    <div class="content">
        <p>{{.Body}}</p>
    </div>

    <hr>

    <a href="/" class="home-link">[Back to Home]</a>

<footer class="minimal-footer">
    <p class="tagline">Because sometimes the trailer is better than the movie.</p>
    <p class="copyright">
        &copy; {{.Year}} TH |
        <a href="https://www.youtube.com/" target="_blank" aria-label="Find us on YouTube">YT ▶️</a>
    </p>
</footer>
</body>
</html>